@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Fredoka+One&family=Gugi&family=Lobster+Two:ital@0;1&family=Manrope&family=Poppins:wght@300;500&family=Space+Grotesk:wght@300;400;500&family=Staatliches&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #FFAD5A;
    color: white;
}

span::selection {
    color: lightgreen;
}

.first_section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 3em;
}

.first_section .div_one {
    margin-left: 3%;
}

.half_width {
    width: 50%;
}

.first_section .div_one .header_part{
    font-family: 'Yeseva One', cursive;
    font-size: 35px;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 1em;
}

.first_section .div_one h1:nth-child(2) {
    color: #FFAD5A;
}

button {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #FF5959;
    border: none;
    height: 48px;
    width: 172px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    box-shadow: 1px 3px 4px 2px #ffad5ac4;
}

button:hover {
    color: black;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    margin-left: 1.5%;
}

.first_section .div_two {
    margin-top: -5.5%;
    margin-left: 15%;
}

.first_section .div_two img {
    margin-top: 4em;
    height: 400px;
}

.second_section {
    margin-left: 3%;
    background-image: url('images/shapes/shape2.png');
    background-size: 16%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.second_section h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.second_section h1 span {
    color: #FFAD5A;
}

.second_section .card_div {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding-left: 15%;
}

.second_section .card {
    height: 376px;
    width: 360px;
    border-radius: 6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
    padding: 1.5%;
    margin-right: 2%;
}

.second_section .card img {
    height: 126px;
    width: 126px;
}

.second_section .card1 {
    background-color: #EEF6F7;
}

.second_section .card2 {
    background-color: #FFEFEF;
}

.second_section .card3 {
    background-color: #FFF4D6;
}

hr {
    border: none;
    border-bottom: 4px dotted #FFAD5A;
    margin: auto;
    width: 35%;
}

.third_section {
    margin-top: 1.5%;
    margin-left: 3%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.third_section h1 {
    font-size: 35px;
}

.third_sec_div_one img {
    height: 400px;
    width: 400px;
    margin-left: 30%;
}

.third_sec_div_two {
    margin-top: 3%;
    background-image: url('images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-position: left;
}

.third_sec_div_two p {
    width: 70%;
    text-align: justify;
}

.fourth_section {
    display: flex;
    margin-top: 2%;
    background-image: url('images/shapes/shape3.png');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: top left;
}

.fourth_section .four_sec_div_one {
    font-family: 'Poppins', sans-serif;
    margin-left: 17.2%;
}

.four_sec_div_one h1 {
    font-size: 35px;
}

.four_sec_div_two {
    margin-left: 10%;
}

.four_sec_div_two img {
    height: 400px;
    width: 400px;
}

.fifth_section {
    display: flex;
    margin-top: 2%;
}

.fifth_section h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #FF5959;
    color: white;
    height: 12%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form {
    height: 65%;
    width: 50%;
    padding-top: 5px;
    margin-top: 12%;
    border-radius: 20px;
    background-color: rgba(240, 241, 241, 0.75);
    box-shadow: 12px 8px 9px 3px rgb(250 253 243 / 91%);
}

.form h1 {
    font-size: 25px;
    background-color: inherit;
    color: black;
}


i {
    padding-left: 10px;
}

.form button {
    width: 40%;
    font-family: 'Fredoka One', cursive;
    margin-top: 5%;
    margin-left: 29%;
}
.form input {
    display: block;
    border: none;
    border-bottom: 2px solid #FF5959;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 27%;
    padding: 1%;

}

.form input:focus {
    outline: 1px solid orange;
    background-color: #FFAD5A;
    color: #8bf008;
}

.last_section {
    background-image: linear-gradient(#FFAD5A, #FF5959);
    color: rgba(0, 0, 0, 0.63);
}

.last_section h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    padding: 1%;
}

.last_section .child_section {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 10px;
    padding-bottom: 10px;
}